* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
    scroll-behavior: smooth;
    color: var(--black);
}

:root {
    font-size: 10px;
    --main-color: #145da0;
    --secondary-blue: #2d8bbf;
    --black: #1A202C;
}

header {
    height: 100vh;
    position: relative;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1.section-title {
    color: var(--black);
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
}

h5.section-subtitle {
    color: var(--black);
}









.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.layer1 {
    background-image: url('../img/wave.svg');
}

@media (min-width: 992px) {
    .svg-wrapper {
        max-height: 300px;
    }

    .desktop-svg {
        display: block;
    }

    .mobile-svg {
        display: none;
    }
}



#how h1.section-title {
    color: #fff;
}

#how h5.section-subtitle {
    color: #eee;
}

h5.section-subtitle {
    font-size: 1.7rem;
    text-align: center;
}

p {
    font-size: 1.6rem;
}

nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.colored {
    color: var(--main-color);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1300px;
    margin: 0 auto;
    height: 80px;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style-type: none;
    font-size: 1.6rem;
}

.menu-list a {
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in-out;
}

.menu-item {
    padding: 1.5rem;
    border-radius: 4rem;
    transition: 0.3s ease-in-out;
}

.menu-item:hover {
    background-color: rgba(221, 221, 221, 0.4);
}

.menu-item.last {
    background-color: var(--main-color);
    padding: 1.5rem;
    border-radius: 4rem;
    color: #fff;
}

.menu-item.last a {
    color: #fff;
}

.welcome {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.welcome-text h1 {
    font-size: 4.5rem;
    margin: 0;
}

.welcome-text h2 {
    font-size: 3.7rem;
    margin: 0;
    line-height: 115%;
}

.welcome-text p {
    margin: 0;
}

.welcome-image {
    display: none;
}

.welcome-image img {
    width: 100%;
    max-width: 500px;
    animation: fly 1.5s ease-out 0s alternate infinite none running;
}

.welcome-buttons {
    margin-top: 2.5rem;
}

.welcome-buttons a {
    text-decoration: none;
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
    transition: 0.3s;
}

.welcome-buttons a:first-child {
    color: #fff;
    background-color: var(--main-color);
}

.welcome-buttons a:first-child:hover {
    color: var(--main-color);
    background-color: #fff;
}

.welcome-buttons a:last-child {
    color: var(--main-color);
    background-color: #fff;
}

.welcome-buttons a:last-child:hover {
    color: #fff;
    background-color: var(--main-color);
}

.track {
    position: absolute;
    padding: 2rem;
    max-width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
    width: 100%;
}

.track h4 {
    font-size: 2rem;
}

.menu-list {
    display: none;
}


/* How it works section */
#how {
    position: relative;
    padding: 2rem;
}

.section-background {
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 45%;
    top: 0;
    left: 0;
    z-index: -1;
}

.how-tiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 3rem;
}

.how-tile {
    max-width: 350px;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid rgba(221, 221, 221, 0.8);
    position: relative;
}

.how-tile img {
    max-height: 210px;
}

.how-name {
    margin-bottom: 1.5rem;
}

.tile-number {
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 50%;
    border: 4px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: var(--main-color);
}


/* Features section start */

.features-wrapper {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 4rem;
    margin-bottom: 2rem;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    gap: 1rem;
}

.feature-description {
    color: #A0AEC0;
    font-weight: 500;
}

/* Features section end */

/* Testimonials section start */

#testimonials {
    position: relative;
}

/* .custom-shape-divider-bottom-1663711324 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1663711324 svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 270px;
}

.custom-shape-divider-bottom-1663711324 .shape-fill {
    fill: #145DA0;
} */

.custom-shape-divider-bottom-1663711479 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1663711479 svg {
    position: relative;
    display: block;
    width: calc(210% + 1.3px);
    height: 400px;
}

.custom-shape-divider-bottom-1663711479 .shape-fill {
    fill: #145DA0;
}

.testimonials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 3rem;
}

.testimonial-tile {
    max-width: 400px;
    /* border: 1px solid rgba(221, 221, 221, 0.8); */
    border-radius: 1rem;
    padding: 3.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.testimonial-tile img {
    max-width: 64px;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 3rem;
}

.testimonial-author {
    padding-top: 1rem;
    border-top: 2px solid #ccc;
    font-size: 1.7rem;
}

.testimonial-status {
    color: #A0AEC0;
    font-size: 1.3rem;
}

/* Testimonials section end */

@keyframes fly {
    0% {
        transform: translateY(-15px);
    }

    3% {
        transform: translateY(-14px);
    }

    6% {
        transform: translateY(-13px);
    }

    9% {
        transform: translateY(-12px);
    }

    12% {
        transform: translateY(-11px);
    }

    15% {
        transform: translateY(-10px);
    }

    18% {
        transform: translateY(-9px);
    }

    21% {
        transform: translateY(-8px);
    }

    24% {
        transform: translateY(-7px);
    }

    27% {
        transform: translateY(-6px);
    }

    30% {
        transform: translateY(-5px);
    }

    33% {
        transform: translateY(-4px);
    }

    36% {
        transform: translateY(-3px);
    }

    39% {
        transform: translateY(-2px);
    }

    42% {
        transform: translateY(-1px);
    }

    45% {
        transform: translateY(0px);
    }

    48% {
        transform: translateY(1px);
    }

    51% {
        transform: translateY(2px);
    }

    54% {
        transform: translateY(3px);
    }

    57% {
        transform: translateY(4px);
    }

    60% {
        transform: translateY(5px);
    }

    63% {
        transform: translateY(6px);
    }

    66% {
        transform: translateY(7px);
    }

    69% {
        transform: translateY(8px);
    }

    72% {
        transform: translateY(9px);
    }

    75% {
        transform: translateY(10px);
    }

    78% {
        transform: translateY(11px);
    }

    81% {
        transform: translateY(12px);
    }

    84% {
        transform: translateY(13px);
    }

    87% {
        transform: translateY(14px);
    }

    100% {
        transform: translateY(15px);
    }
}




@media (max-width: 576px) {
    .spacer {
        height: 280px;
    }
}

@media (min-width: 576px) {
    .wave svg {
        height: 300px;
    }
}

@media (min-width: 992px) {
    .welcome {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .welcome-text {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .welcome-text h1 {
        font-size: 6rem;
    }

    .welcome-text h2 {
        font-size: 4rem;
    }

    .welcome-image {
        display: block;
    }

    .menu-list {
        display: flex;
    }

    .features-wrapper {
        gap: 8rem;
    }
}
